.login-form-div{
    width: 500px;
    border-radius: 7px;
}
.sign-in-out-btn{
    border: 0;
    margin: 5px;
    padding: 7px 15px;
    border-radius: 5px;
    background: linear-gradient(180deg, rgba(0, 128, 0, 0.938), rgba(0, 0, 0, 0.918));
    color: white;
}
