.card-img img{
    width: 302px;
    height: 302px;
}
.card-div{
    width: 400px;
    height: 400px;
    margin: 10px;
    border-radius: 7px;

}
.buy-button{
    border: 0;
    padding: 7px 15px;
    border-radius: 7px;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.924), rgba(255, 255, 0, 0.904));
    color: white;
}

.card-img :hover{
    background:linear-gradient(180deg, #FDE7D9, rgb(255, 248, 220));
}
@media(min-width: 1919px){
    .card-div{
        margin: 40px;
    }
}
@media(max-width: 320px){
    .card-div{
        width: 310px;
    }
}